<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout.html}" lang="pt">
<head>
<meta charset="utf-8" />
</head>
<body>
	<section layout:fragment="titulo">
		<div class="row align-items-md-stretch">
			<div class="col-md-12">
				<div class="h-100 p-5 text-white bg-dark rounded-3">
					<h2>Lista de Animais Vacinados</h2>
				</div>
			</div>
		</div>
	</section>
	<section layout:fragment="content">
	<div class="container">
	
		<div class="row">
			<div class="form-group col-md-6">
				<label>Descrição</label>
				<input type="text" readonly="readonly"
					class="form-control"
					th:field="${vacinacao.descricao}">				
			</div>

			<div class="form-group col-md-2">
				<label>Data da Vacinação</label>
				<input type="date" readonly="readonly"
					pattern="dd/MM/yyyy"
					class="form-control"
					th:field="${vacinacao.dataVacinacao}"/>				
			</div>		
			
			<div class="form-group col-md-2">
				<label>Ano</label>
				<input type="text" readonly="readonly"
					class="form-control"
					th:field="${vacinacao.ano}"/>	
			</div>		
			
			<div class="form-group col-md-2">
				<label>Status da Vacinação</label>
				<input type="text" readonly="readonly"
					class="form-control"
					th:field="${vacinacao.status.descricao}">		
			</div>
		
		</div>
		
		<div class="row">
			<div class="form-group col-md-6">
				<label>Vacina</label>
				<input type="text" readonly="readonly"
					class="form-control"
					th:field="${vacinacao.vacina.descricao}">
			
			</div>

			<div class="form-group col-md-6">
				<label>Fazenda</label>
				<input type="text" readonly="readonly"
					class="form-control"
					th:field="${vacinacao.fazenda.nome}">
			</div>
		</div>			
	</div>
	
	<form class="form-inline" method="POST" action="#" th:object="${item}">
		<div class="container-fluid">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{vacinacao}"/>
			<div class="row">
				<div class="form-group col-md-12 mb-3">
					<label class="form-label col-md-1">Animal</label>
					<select name="animal" class="form-control col-md-10" th:field="*{animal}">
						<option th:each="animal : ${animais}" th:value="${animal.id}" th:text="${animal.nome}"/>
					</select>
					<button type="submit" class="btn btn-success btn-sm" style="margin-left: 10px">Adicionar</button>
				</div>
			</div>
		</div>
	</form>

	<table class="table table-striped table-hover table-sm">
		<thead>
			<tr>
				<th>Brinco</th>
				<th>Nome do Animal</th>
				<th>Ação</th>			
			</tr>	
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td th:text="${item.animal.brinco}">Brinco</td>
				<td th:text="${item.animal.nome}">Nome do Animal</td>
				<td>
					<a class="btn btn-primary btn-sm" th:href="@{/vacinacoes/deleteAnimal/{id} (id=${item.id})}">Excluir</a>
				</td>			
			</tr>	
		</tbody>
	
	</table>		
	<a class="btn btn-primary" type="button" th:href="@{/vacinacoes/finalizar/{id} (id=${vacinacao.id})}">Finalizar</a>			
	</section>

</body>
</html>
