<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout.html}" lang="pt">
<head>
<meta charset="utf-8" />
</head>
<body>
	<section layout:fragment="titulo">
		<div class="row align-items-md-stretch">
			<div class="col-md-12">
				<div class="h-100 p-4 text-white bg-dark rounded-3">
					<h2>Cadastro de Fazendas</h2>
				</div>
			</div>
		</div>
	</section>
	<section layout:fragment="content">

		<div class="container-fluid">
			<form th:action="@{/fazendas}" method="post" th:object="${fazenda}">

				<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.detailedErrors()}">
						<span th:text="${err.message}">...</span>
					</div>
				</div>

				<input type="hidden" th:field="*{id}">
				<div class="row">
					<div class="form-group md-12 col-12">
						<label >Nome da Fazenda</label> 
						<input type="text"
							   class="form-control" 
							   autocomplete="true" 
							   th:field="*{nome}"/>

					</div>
				</div>
				<div class="row">
					<div class="form-group md-10 col-10">
						<label >Proprietário</label> 
						<select class="form-control" th:field="*{proprietario}">
							<option th:each="prop : ${proprietarios}" th:value="${prop.id}" th:text="${prop.nome}"/>
						</select>
					</div>
					
					<div class="form-group md-2 col-2">
						<label >Tamanho (alq.)</label> 
						<input type="text"
							   class="form-control" 
							   autocomplete="true" 
							   th:field="*{tamanho}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group md-10 col-10">
						<label >Logradouro</label> 
						<input type="text"
								class="form-control" 
								autocomplete="true" 
								th:field="*{endereco.logradouro}"/>

					</div>
					<div class="form-group md-2 col-2">
						<label >Número</label> 
						<input type="text"
							th:field="*{endereco.numero}"
							class="form-control" 
							autocomplete="true" />
					</div>
				</div>

				<div class="row">
					<div class="form-group md-6 col-6">
						<label >Complemento</label> 
						<input type="text"
								th:field="*{endereco.complemento}"
								class="form-control" autocomplete="true" />
	
					</div>
					<div class="form-group md-6 col-6">
						<label >Bairro</label> 
						<input type="text"
								th:field="*{endereco.bairro}"
								class="form-control" autocomplete="true" />

					</div>
				</div>
				

				<div class="row">
					<div class="form-group md-4 col-4">
						<label for="txt-nome">Cidade</label> 
						<input  type="text"
								th:field="*{endereco.cidade}"
								class="form-control" 
								autocomplete="true" />

					</div>
					<div class="form-group md-2 col-2">
						<label for="txt-nome">Estado</label> 
						<select class="form-control" th:field="*{endereco.estado}">
							<option th:each="estado : ${estados}" th:text="${estado}" th:value="${estado}"/>
						</select>
					</div>
				</div>
							
				<div class="row">
					<div class="form-group md-12 col-12">
						<label for="txt-nome">Observações</label> 
						<textarea rows="3" class="form-control" th:field="*{observacoes}"></textarea>					
					</div>
				</div>	
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Salvar">
					<a th:href="@{/fazendas}" class="btn btn-danger">Cancelar</a>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
