<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout.html}" lang="pt">
<head>
<meta charset="utf-8" />
</head>
<body>
	<section layout:fragment="titulo">
		<div class="row align-items-md-stretch">
	      <div class="col-md-12">
	        <div class="h-100 p-5 text-white bg-dark rounded-3">
	          <h2>SysAgro</h2>
	          <p>Sistema de Gestão Agropecuário</p>
	        </div>
	      </div>
	    </div>
	</section>
	<section layout:fragment="content">
		<div class="row">
			<div class="container-fluid dash">
				<div class="card text-white bg-primary mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Animais Cadastrados</h5>
						  <h1 class="card-text">111</h1>
					</div>
				</div>

				<div class="card text-white bg-primary mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Animais Cadastrados</h5>
						  <h1 class="card-text">111</h1>
					</div>
				</div>

				<div class="card text-white bg-primary mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Animais Cadastrados</h5>
						  <h1 class="card-text">111</h1>
					</div>
				</div>

				<div class="card text-white bg-primary mb-3"
					style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Animais Cadastrados</h5>
						  <h1 class="card-text">111</h1>
					</div>
				</div>
			</div>
		</div>	
	</section>
</body>

</html>